llama-index-core
llama-index-vector-stores-faiss
llama-index 
openai
python-dotenv
faiss-cpu
gitpython
nest-asyncio
pydantic
requests
tqdm
aiohttp
pydantic-settings
fastapi
uvicorn
python-multipart 
fastapi
uvicorn
python-dotenv
pydantic