llama-index-core
llama-index-vector-stores-faiss
llama-index 
llama-index-llms-openrouter
openai
python-dotenv
faiss-cpu
gitpython
nest-asyncio
pydantic
requests
tqdm
aiohttp
pydantic-settings
fastapi
uvicorn
python-multipart 
fastapi
uvicorn
python-dotenv
pydantic
llama-index-retrievers-bm25
llama-index-postprocessor-cohere-rerank